html, body{
    background-color: #21232a;
    color: rgb(0, 214, 230);
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 70px;    
    
}

button{
    padding: 10px;
    background-color:rgb(172, 19, 52);
    color: #fff;
    border-radius: 1em;
    border-style: none; 
    margin: 10px;   
}
